<!DOCTYPE html>
<html>
<head>
    <title>WatchTools</title>
    <link href="/css/popup.css" rel="stylesheet">
    <script src="/js/popup.js"></script>
</head>
<body>
<h1>WatchTools</h1>

<div class="aside">
    Environment:
    <div id="environment"></div>
    <br/>
    Server:
    <div id="server"></div>
    <br/>
    Build:
    <div id="build"></div>
</div>
<div role="main">
    <a id="contentstudio" href="">Content Studio</a>
    <a id="webstudio" href="">Web Studio</a>
    <a id="admin" href="">Admin</a>
</div>
</body>
</html>
